.Trash-1000
node_modules
docs
dumps
bin
docs
sbin
logs
.tmp
.logs

*.swp
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

*.png
*.jpg
*.jpeg
*.gif

*.wmv
*.mpg
*.mpeg
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm
*.wav
*.mp3
*.wma

*.sql
