name: build

on: [push]

jobs:
  test:
    name: test
    runs-on: ubuntu-18.04
    env:
      CI: true
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install
        run: npm ci
      - name: npm test
        run: npm run test
      - name: npm build
        run: |
          npm run build
          npm run build:browser
  quality-check:
    name: quality-check
    runs-on: ubuntu-18.04
    needs: test
    env:
      CI: true
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: install && test
        run: |
          npm ci
          npm run test
          sed -i -- "s|$GITHUB_WORKSPACE|/github/workspace|g" coverage/lcov.info
      - name: sonar-cloud scan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        uses: SonarSource/sonarcloud-github-action@v1.5
